<h1>Shop#index</h1>
<p>Find me in app/views/shop/index.html.erb</p>


<!--for みたいなもの-->
<% @shops.each do |shop| %>
<li>
  <%= link_to shop.name, shop_path(shop.id) %>
</li>
<% end %>

<p>
<%= link_to "新規作成", new_shop_path %>
</p>


<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
</script>
